@import url('https://fonts.googleapis.com/css2?family=Potta+One&display=swap');
/*div{
  grid-area: auto;
  border: 1px solid ;
}**/
body {
  margin: 0;
  padding: 0;
  font-family: 'Potta One', cursive;
}


p{
  font-family: 'Potta One', cursive;

}
a {
  font-family: 'Potta One', cursive;
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg'  width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🚀</text></svg>"), auto;
}
h1{
  font-family: 'Potta One', cursive;
}
h2{
  font-family: 'Potta One', cursive;

}
h3{
  font-family: 'Potta One', cursive;
}
h5{
  font-family: 'Potta One', cursive;
}
input{
  font-family: 'Potta One', cursive;
}
button{
  font-family: 'Potta One', cursive;
}
i{
  font-family: 'Potta One', cursive;
}

label{
  font-family: 'Potta One', cursive;
}
option{
  font-family: 'Potta One', cursive;
}

.plan-index {
  background-color: rgb(225, 230, 219);
  margin:0px;
}
form {
  background-color: rgb(236, 241, 229);
  font-family: 'Potta One', cursive;
}
.user_name{
  font-family: 'Potta One', cursive;
}
.public_div{
  position: relative;/*相対位置*/
}
.public_div h1{
  position: absolute;/*絶対位置*/
  /*color: white;*/
  font-size: 500%;
  top: 35%;
  left: 35%;
}
.public_p{
  /*border-bottom: double 6px #87CEFA;*/
  background: linear-gradient(transparent 50%, #a8eaff 0%);
  max-width: 300px;
  text-align: center;
  margin: 0 auto; /* 追加: 左右のマージンを自動でセンターに配置 */
  padding-bottom: 0px;
  margin-bottom: 0px;
  line-height: 1; /* 追加: 行の高さを1に設定 */
}



.public_img{
  /*height: 200px;*/
  width:100%;
}

#user_comment {
  margin: 5;
  padding: 0;
  text-align: center;
  font-family: 'Potta One', cursive;
}
#user_comment {
  position: relative;
  display: flex;
  margin: 1.5em 0 1.5em 15px;
  padding: 7px 10px;
  min-width: 120px;
  max-width: 100%;
  color: #555;
  font-size: 16px;
  background: #e0edff;
}

#user_comment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: -30px;
  margin-top: -15px;
  border: 15px solid transparent;
  border-right: 15px solid #e0edff;
}


img{
  max-width: 100%;
  height: auto;
  
  
}
.public_text{
  font-family: 'Potta One', cursive;
  font-size: large;
}

.mypage_text{
  font-size: 300%;  
  font-family: 'Potta One', cursive;
}

.add {
  font-size: 300%;  
  font-family: 'Potta One', cursive;
}




.switch_label{
  display: flex;
  align-items: center;
}
input[name = 'recommend_flag']{
  position:absolute;
  width: 0;
  height: 0;
  
}
.base{
  width: 60px;
  border-radius: 16px;
  height: 30px;
  background-color: white;/**デフォルト背景色**/
}
.title {
  margin-left: 4px;
}

input:checked ~ .base {
  background-color: rgb(219, 234, 254);/**選択時背景色**/
  transition: 1s;
}
.circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: rgb(219, 234, 254);/**ボールデフォルトカラー**/
  transition: 0.5s;
}


.move_circle {
  position: absolute;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  background-color: rgb(219, 234, 254);/**ボールデフォルトカラー**/
  transition: 0.5s;
}

.switch {
  position: relative;
}




input:checked ~ .circle {
  transform: translateX(100%);
  background-color: blue;/**ボール選択時のカラー**/
  transition: 0.5s;
}

.navber{
  display: inline-block;      /* インラインブロック要素にする */
  background-color:  #ccc;    /* 背景色指定 */
  height:  300px;             /* 高さ指定 */
  width: 50%;                 /* 幅指定 */
}
.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.sidebar {
  width: 400px;
  padding: 0px;
}
.widget + .widget {
  margin-top: 10px;
}
.widget--sticky {
  position: sticky;
  top: 20px;
}
.user_icon{
  border-radius: 50%;
  width: 50%;
  height: 50%;
}







#header {
  box-sizing: border-box;
  background: #ccc;
  height: 50px;
}
#main {
  box-sizing: border-box;
  margin-left: 220px;
  padding: 20px 40px;
}
#sub {
  box-sizing: border-box;
  top: 50px;
  height: 100%;
  width: 220px;
  position: fixed;
  overflow: auto;
  background: #eee;
  padding: 0px;
}
.card-img{
 height: 50px;
 width: 50px;
}

input[name="reservation"] {
  display: block; /* または inline-block など*/
}